/* You can add global styles to this file, and also import other style files */
.header-top {
    border-bottom: 2px solid #cacaca;
    margin: 32px 0 26px 0;
}

.banner {
    border-bottom: 2px solid #cacaca;
    padding-bottom: 19px;
    margin-bottom: 15px;
}

.banner img {
    width: 100%;
}

.footer {
    text-align: center;
    margin: 50px 0 0 0;
}